body {
    margin: 0;
    padding: 0;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(246,71,71,1) 0%, rgba(252,176,69,1) 100%);
}

h1 {
    margin: 0;
    padding: 0;
}

.club-life {
    font-family: Impact, sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 0;
    font-style: italic;
    text-align: center;
    color: whitesmoke;
}

.tiesto-knockout-text {
    background: url(img/tiesto_guess_club_life_img313.jpg)no-repeat;
    color: white;
    font-family: Impact, sans-serif;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 35vw;
    text-align: center;
}

